# Desktop/GUI apps
brew "brightness"
brew "glow"
brew "links"
brew "lynx"
brew "mdless"
brew "mdp"

cask "brave-browser"
cask "firefox"
cask "google-chrome"
cask "grandperspective"
cask "iterm2"
cask "keepassxc"
cask "macdown"
cask "rectangle"
cask "sabaki"
cask "sloth"
cask "android-file-transfer"
cask "todoist-app"
cask "whatsapp"
